body {
    margin: 0%;
    padding: 0%;
    /* max-width: 100%; */
    max-height: 100vh;
}

.Leaderboard {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    /* gap: 100px */
}

.round {
    max-width: 200px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}


/* .round-one {}

.round-two {
    padding-top: calc(100%/3);
}

.round-three {
    padding-top: calc(100%/2);
} */

.round-left {}

.room {
    font-size: 30px;
}

.item_11 {
    justify-content: flex-start;
}

.match {
    list-style-type: none;
    padding-left: 0%;
    padding: 5px;
    margin-left: 0%;
    background-color: #aaa;
}


/* .match::before {
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    height: 20px;
    border-right: 3px solid rgb(112, 58, 58);
}

.match:not(:last-child):not(:first-child):after {
    width: 100%;
    border-top: 3px solid rgb(128, 105, 105);
}

.match:not(:only-child):first-child:before {
    right: 0;
    left: auto;
    border-left: 3px solid rgb(177, 68, 68);
    border-right: none;
} */

.team {
    font-size: 20px;
}